<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <h3>Créditos </h3>
	<p>Author: Andrés Morchain Moore</p>
	<img src="../images/author.png" />
  </body>
</html>