<!DOCTYPE html>
<html LANG="en">

<head>
  <meta charset="utf-8">
  <title> Preguntas </title>
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  </head>


<body>
<div id="page-wrap">

    <!-- HEADER -->
	<header class="main" id="h1">
        <h2 Quiz: el juego de las preguntas</h2>
	</header>
	
    <!-- NAV -->
	<header class="main" id="h1">
        <h2 Quiz: el juego de las preguntas</h2>
	</header>
	
	 <!-- SECTION -->
	<header class="main" id="h1">
        <h2 Quiz: el juego de las preguntas</h2>
	</header>
	
	<!-- FOOTER -->
	<header class="main" id="h1">
        <h2 Quiz: el juego de las preguntas</h2>
	</header>
	
   

</div>
</body>
</html>
