<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <h3>Créditos: </h3>
	<p>Author: Andrés Morchain M.</p>
	<img src="/images/author.jpg" />
  </body>
</html>